<div class="search-container">
  <div class="search-header">
    <%= render partial: "components/search_form" %>
  </div>
  <div class="repositories-container">
    <%
      repository = Repository.new(
        name: "test", description: "description",
        owner: "ruby", url: "http://www.google.com",
        stars: 10
      )
    %>
    <div class="repository">
      <div class="repository-info">
        <div class="repository-name">
          <%= link_to "#{repository.owner}/#{repository.name}", repository.url %>
        </div>
        <div class="repository-description">
          <%= repository.description %>
        </div>
      </div>
      <div class="repository-stars">
        <%= repository.stars %>☆
      </div>
    </div>
  </div>
</div>
